/*
 * @Description: 公共样式
 * @Author: wonanjie
 * @Date: 2020-05-20 12:49:28
 * @LastEditors: wonanjie
 * @LastEditTime: 2020-05-20 16:35:53
 */

.container {
    position: relative;
    width: 74.5%;
    margin-right: auto;
    margin-left: auto;
}

/*scss真是酷到翻皮水*/
@for $i from 1 through 100 {
    .mt#{$i} {
        margin-top: #{$i}px;
    }

    .pt#{$i} {
        padding-top: #{$i}px;
    }

    .ml#{$i} {
        margin-left: #{$i}px;
    }

    .pl#{$i} {
        padding-left: #{$i}px;
    }

    .mr#{$i} {
        margin-right: #{$i}px;
    }

    .pr#{$i} {
        padding-right: #{$i}px;
    }

    .mb#{$i} {
        margin-bottom: #{$i}px;
    }

    .pb#{$i} {
        padding-bottom: #{$i}px;
    }
}