/*
 * @Description: 色值表
 * @Author: wonanjie
 * @Date: 2020-05-20 13:19:50
 * @LastEditors: wonanjie
 * @LastEditTime: 2020-05-20 16:33:31
 */ 
$WHITE:white; //纯白色
$WHITE_f9f9f9:#f9f9f9; //米色未被划过的导航块
$BLACK_222222:#222222; //用于主页左上标志图
$GRAY_555555:#555555; //未被触发的导航文字